:javascript
  $("#ajaxsubmit").on('click', function(e) {
      e.preventDefault();
      var formURL = $(this).closest("form").attr("action");
      var postData = $(this).closest("form").serializeArray();
      $.ajax({
        type: "POST",
        url: formURL,
        data: postData,
        success: function(d, status, jqXHR) {
          bootbox.alert("Your information has been updated.");
          $("#likethis").load("/user/basic");
        },
        error: function(jqXHR, status, errMSG) {
          alert(errMSG);
        }
      }
      );
    }
  );

%div.span4.well

  = form_for current_user, :url => {:action => "update"} do |f|
    %p
      = f.label :first_name
      = f.text_field :first_name
    %p
      = f.label :last_name
      = f.text_field :last_name
    %p
      = f.label :email
      = f.text_field :email 
    %p.button
      = f.submit 'Save', :id => "ajaxsubmit"
  
    