:javascript
  $("#ajaxsubmit").on('click', function(e) {
      e.preventDefault();
      var formURL = $(this).closest("form").attr("action");
      var postData = $(this).closest("form").serializeArray();
      $.ajax({
        type: "POST",
        url: formURL,
        data: postData,
        success: function(d, status, jqXHR) {
          bootbox.alert("Your password has been updated.");
          $("#likethis").load("/user/password");
        },
        error: function(jqXHR, status, errMSG) {
          alert(errMSG);
        }
      }
      );
    }
  );

%div.span4.well
  = form_for current_user do |f|
    %p
      = f.label :password
      = f.password_field :password
    %p
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    %p.button
      = f.submit 'Save', :id => "ajaxsubmit"