= form_for current_user do |f|
  %p
    = f.label :password
    = f.text_field :password
  %p
    = f.label :password_confirmation
    = f.text_field :password_confirmation
  %p.button
    = f.submit 'Save'