!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en", "ng-app" => "confligere"}
  %head
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "bootstrap.min.css", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "angular.min.js"
    = javascript_include_tag "angular-resource.min.js"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "bootstrap.min.js"
    = javascript_include_tag "bootbox.min.js"
    = javascript_include_tag "confligere.js"
    = csrf_meta_tags

    %title Confligere
  %body
    :javascript 
      var currentPage = "##{controller_name}";
      $(currentPage).addClass("active");

    #user_nav{:class => "navbar navbar-inverse navbar-fixed-top"}
      %div{:class => "navbar-inner"}
        %div{:class => "container-fluid"}
          %a{:class => "brand", :href => "/"} Confligere
          - if current_user
            %div{:class => "nav-collapse collapse"}
              %ul{:class => "nav"}
                %li#dashboard
                  %a{:href => "/dashboard"} Dashboard
                %li#journal 
                  %a{:href => "/journal"} Journal
                %li#goals 
                  %a{:href => "/goals"} Goals
                %li#timeline 
                  %a{:href => "/timeline"} Events
                %li#user
                  %a{:href => "/user"} Personal
            %p{:class => "navbar-text pull-right"}
              - if current_user
                Logged in as 
                %a{:href => "/account"}
                  = "#{current_user.username}."
                \#{link_to "Log out", "/logout"}
              - else
                = link_to "Sign up", "/signup"
                or
                \#{link_to "log in", "login"}
            - flash.each do |name, msg|
              = content_tag :div, msg, :id => "flash_#{name}"
      
    %div{:class => "container-fluid"}
      = yield
